/* mobile: 360px -> 768px -------------------------------------------------- */

/* header -------------------------------------------------- */

nav {
    gap: 0;
}

nav a,
nav button {
    font-size: 16px;
}

/* section -------------------------------------------------- */

body {
    gap: 20px;
}

/* box -------------------------------------------------- */

.box {
    gap: 24px;
    padding: 28px;
}

/* scroll to top -------------------------------------------------- */
#top-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

/* UI UX detail -------------------------------------------------- */
section {
    padding: 0 20px;
}

.heading {
    flex-direction: column;
    gap: 20px;
}

.heading .title h1 {
    font-size: var(--fontSizeH1small);
}

.tab-content .device.mobile {
    gap: 20px;
}

.tab-content .device.desktop img {
    width: 320px;
}

.tab-content .device {
    gap: 20px;
}

/* button live web -------------------------------------------------- */

.heading .liveweb p:nth-of-type(2),
.heading .prototype p:nth-of-type(2) {
    display: flex;
}

.heading .liveweb p:nth-of-type(1),
.heading .prototype p:nth-of-type(1) {
    display: none;
}
